* {
				margin:0px;
				padding:0px;
			}
			
			#header {
				margin:auto;
				width:800px;
				font-family:Monotype Corsiva;
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				background-color:e1c7f1;
				color:369e83;
				text-decoration:none;
				padding:10px 30px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:e1c7f1;
			}
			
			.nav li ul {
				display:none;
				position:absolute; z-index:1;
				min-width:240px;
                                 
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}
